@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-text-dark antialiased;
}

h1, h2, h3, h4 {
  @apply font-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
