@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #fafafa 0%, #f5f5f5 100%);
  margin: 0;
  min-height: 100vh;
}
h1, h2, h3, h4 {
  @apply font-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
